.nav-ul {
  background-color: #041300;
  color: white;
  display: flex;
  gap: 2rem;
  justify-content: center;

}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 30px;
  padding: 1rem;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 1rem;
}

.main-heading {
  font-size: 100px;
  text-align: center;
  color: #041300;
}

.relax-day {
  background-image: url(https://www.datocms-assets.com/15185/1594057379-man-in-park-relaxing.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.work-day {
  background-image: url(https://www.ikea.com/images/small-office-space-with-idasen-beige-sit-stand-desks-alefjae-9b5623c200848100a14b982fb9185ffd.jpg?f=s);
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

